{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2 class="card-header">Upload de Documento</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <!--
            <h5 class="card-title">Nome do Documento: {{ form.nome }}</h5>
            <p class="card-text">{{ form.documento }}</p>
            -->
            {{ formset.as_table }}
        <button type="submit" class="btn btn-primary">Enviar documento</button>
    </form>
</div>
</div>
{% endblock %}
